:root{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --orange: var(--green);
    /* --orange: #ea553b; */
    --red: 	#ba2b2b;
    --green: #00a08d;
    --dark-gray: #272727;
}

@font-face {
    font-family: 'Nike';
    src: url('./Nike.ttf') format('ttf');
    font-style: oblique;
}


body, html{
    font-family: 'Nike', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* HEADER */

header{
    width:100vw;
    background-color:black;
    color:white;
    height:96px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    font-weight:800;
}
/* CONTENT */

.content{
    height:calc(100vh - 150px);
    display:flex;
}

.projects-bar{
    background-color:var(--dark-gray);
    color:white;
    width:400px;
}

.projects-bar h2{
    font-size:48px;
    font-weight: 900;
    margin-left:40px;
}

.projects{
    font-size:24px;
    font-weight:600;
    color:var(--red);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:18px;
}

.projects #view-all{
    width:320px;
    height:56px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: solid var(--orange) 4px;
    font-size: 32px;
    font-weight: 800;
}

.projects .project{
    width:300px;
    height:50px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: solid var(--orange) 3px;
    font-size: 24px;
    font-weight: 800;
}

.projects #add-project{
    width:200px;
    height:42px;
    color: white;
    background-color: var(--orange);
    border-radius: 32px;
    border: solid white 3px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 16px;
    align-self: center;
}
.entries-bar{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    flex:1;
    justify-content: stretch;
}

.entries{
    display: flex;
    flex-wrap:wrap;
    direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:18px;
}

.entry-box{
    width:90%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:90%;
    border-radius: 20px;
    border:var(--orange) 4px solid;
    background-color: var(--dark-gray);
    color:white;
    gap:48px;
}

.entry-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.entry-box h3{
    margin:0;
    font-size:20px;
    font-weight: 600;
}

.entry-box .entry-description{
    margin:0;
    font-size:14px;
}

.entry-box input[type="checkbox"] {
    margin-left: 16px;
    width:32px;
    height:32px;
}

.entry-box .entry-due-date{
    margin-left:auto;
    margin-right:32px;
    font-size:24px;
    font-weight: 800;
}


.entries-bar h2{
    text-align: center;
    font-size:40px;
    font-weight: 800;
    border:3px var(--red);
    width:300px;
    height:64px;
    
}

.entries button{
    width:250px;
    height:48px;
    color: var(--black);
    background-color: var(--orange);
    border-radius: 32px;
    border: solid black 4px;
    font-size: 20px;
    font-weight: 800;
    margin-top:20px;
}
/* FOOTER */

footer{
    width:100vw;
    height:54px;
    background-color:black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    margin:0;
}

/* ENTRY MODAL */

#entry-modal{
    width:500px;
    height:600px;
    background-color: var(--dark-gray);
    color:white;
    border: var(--green) 5px solid;
}

#entry-modal legend{
    font-size:36px;
    margin-bottom:20px;
    font-weight: 800;
}

#entry-modal form{
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}

#entry-modal label{
    display:flex;
    flex-direction: column;
    font-size:20px;
    gap:2px;
    font-weight:800;
    font-style: italic;
}

#entry-modal input{
    width:400px;
    height:32px;
    font-size:24px;
    font-weight:600;
    border: var(--green) 5px solid;
    border-radius: 20px;
}

#entry-modal button{
    width:250px;
    height:48px;
    color: white;
    background-color: var(--green);
    border-radius: 32px;
    border: solid white 4px;
    font-size: 20px;
    font-weight: 800;
    margin-top:150px;
}